<div class="container">
	<h2>Login</h2>
	<form class="form-horizontal" role="form" ng-action="metodoDelController" name="regForm">
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-5">
				<input type="email" class="form-control" id="email" name="email"
					ng-model="user.email" required /> 
			</div>
			<div class="col-sm-5">
				<span
					ng-show="regForm.email.$error.required && regForm.email.$dirty">required</span>
				<span
					ng-show="!regForm.email.$error.required && regForm.email.$error.email && regForm.email.$dirty">invalid
					email</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-5"> 
				<input type="text" id="name" name="name" class="form-control" ng-model="user.name" required /> 
			</div>
			<div class="col-sm-5">
				<span ng-show="regForm.name.$error.required && regForm.name.$dirty">required</span>
			</div>
		</div> 
		
		<div class="form-group">
			<label for="username" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-5">  
				<input type="text" id="username" name="username" class="form-control" ng-model="user.username"
					ng-minlength="5" ng-maxlength="20" ng-pattern="/^[A-z][A-z0-9]*$/" required /> 
			</div>
			<div class="col-sm-5">
				<span ng-show="regForm.username.$error.required && regForm.username.$dirty">required</span>
				<span ng-show="!regForm.username.$error.minLength && !regForm.username.$error.maxLength && regForm.username.$error.pattern && regForm.username.$dirty">
					Must start with a letter, and contain letters &amp; numbers only.</span> 
				<span ng-show="!regForm.username.$error.required && (regForm.username.$error.minlength || regForm.username.$error.maxlength) && regForm.username.$dirty">
					Username must be between 5 and 20 characters.</span> 
					
			</div>
		</div> 
		
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-5">  
				<input type="password" id="password" name="password" class="form-control" 
					ng-model="user.password" ng-minlength="8" ng-maxlength="20"
					ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required /> 
			</div>
			<div class="col-sm-5">
				<span ng-show="regForm.password.$error.required && regForm.password.$dirty">required</span>
				<span ng-show="!regForm.password.$error.required && (regForm.password.$error.minlength || regForm.password.$error.maxlength) && regForm.password.$dirty">
					Passwords must be between 8 and 20 characters.</span> 
				<span ng-show="!regForm.password.$error.required && !regForm.password.$error.minlength && !regForm.password.$error.maxlength && regForm.password.$error.pattern && regForm.password.$dirty">
					Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span> 
			</div>
		</div>	
				
		<div class="form-group">
			<label for="password_c" class="col-sm-2 control-label">Confirm Password</label>
			<div class="col-sm-5"> 
				<input type="password" id="password_c" name="password_c" class="form-control"
					ng-model="user.password_c" valid-password-c required /> 
			</div>
			<div class="col-sm-5">
				<span ng-show="regForm.password_c.$error.required && regForm.password_c.$dirty">
					Please confirm your password.</span> 
				<span ng-show="!regForm.password_c.$error.required && regForm.password_c.$error.noMatch && regForm.password.$dirty">
					Passwords do not match.</span> 
			</div>
		</div>			

		<button type="submit" class="btn" ng-disabled="false">Register!</button>
	</form>
</div>