<!DOCTYPE html>
<html ng-app="beerdiaries">
<head>
<meta charset="ISO-8859-1">
<title>Beer Diaries</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/controllers.js"></script>
</head>
<body ng-controller="homeController">
	<header>
		<nav>
			<a href="#">Home</a>
			<a href="#info">Info</a>
			<a href="#">Altri link...</a>
			<a ng-if="!logged" href="#registrati">Registrati</a>
			<a ng-if="logged" href="#logout">Logout</a>
		</nav>
	</header>
	<section ng-if="!logged" ><a href="#login">Login</a></section>
	<section>
		<div ng-view></div>
	</section>
	<footer>
		<a href="#twitter">Twitter</a>
		<a href="#facebook">Facebook</a>
	</footer>
</body>
</html>